<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Atf.ScreenRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log" />          
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <Atf.ScreenRecorder.Properties.Settings>
      <setting name="General_OutputDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="General_HideFromTaskbarIfMinimized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_MinimizeOnRecord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotKeys_Cancel" serializeAs="String">
        <value>Ctrl+Alt+C</value>
      </setting>
      <setting name="HotKeys_Global" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HotKeys_Pause" serializeAs="String">
        <value>Ctrl+Alt+P</value>
      </setting>
      <setting name="HotKeys_Record" serializeAs="String">
        <value>Ctrl+Alt+R</value>
      </setting>
      <setting name="HotKeys_Stop" serializeAs="String">
        <value>Ctrl+Alt+S</value>
      </setting>
      <setting name="Mouse_RecordCursor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mouse_HighlightCursor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Mouse_HighlightCursorColor" serializeAs="String">
        <value>255, 255, 128</value>
      </setting>
      <setting name="Mouse_HighlightCursorRadious" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Sound_DeviceId" serializeAs="String">
        <value />
      </setting>
      <setting name="Tracking_Bounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="Tracking_Type" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="Video_Compressor" serializeAs="String">
        <value />
      </setting>
      <setting name="Video_Fps" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Video_Quality" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="Watermark_Alignment" serializeAs="String">
        <value>BottomLeft</value>
      </setting>
      <setting name="Watermark_Color" serializeAs="String">
        <value>DarkGreen</value>
      </setting>
      <setting name="Watermark_Display" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Watermark_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 10pt</value>
      </setting>
      <setting name="Watermark_Margin" serializeAs="String">
        <value>6, 6, 6, 6</value>
      </setting>
      <setting name="Watermark_Outline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Watermark_OutlineColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="Watermark_RightToLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Watermark_Text" serializeAs="String">
        <value>Recorded by Screen Recorder 1.3</value>
      </setting>
    </Atf.ScreenRecorder.Properties.Settings>
  </userSettings>
</configuration>